@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor


<table class="table table-hover" id="antiqueTable">
    <thead>
        <tr>
            <th>Photos</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th></th>

        </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
        <tr>
            <th>Photos</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th></th>
        </tr>
    </tfoot>
</table>



@section Styles {
    <link rel="stylesheet" href="~/lib/dataTables/datatables.min.css" />
}

@section Scripts {

    <script src="~/lib/dataTables/datatables.min.js"></script>
    <script src="~/lib/dataTables/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/homePageScripts.js"></script>

}