@model List<User>
@{
    Layout = "~/Views/AdminPanel/_AdminPanelLayout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2 class="navbarHeading"><img class="userIcon" src="" /><b> &nbsp;Antiques</b></h2>
    </div>
    <div class="col-lg-2"></div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <button class="btn btn-w-m btn-primary" data-toggle="modal" href='#newAntique-form'><i class="fa fa-plus" aria-hidden="true"></i>New Antique</button>
                    <div class="ibox-tools"></div>
                </div>

                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="antiqueTable">
                            <thead>
                                <tr>
                                    <th>Photos</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Base price &#36;</th>
                                    <th>Current bid &#36;</th>
                                    <th>Bid start</th>
                                    <th>Bid end</th>
                                    <th>Actions</th>

                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Photos</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Base price &#36;</th>
                                    <th>Current bid &#36;</th>
                                    <th>Bid start</th>
                                    <th>Bid end</th>
                                    <th>Actions</th>
                                </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>
            </div>
        </div>

    </div>


    <!--New Antique Form-->

    <div id="newAntique-form" class="modal fade" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">

                            <h3 class="m-t-none m-b">New Antique</h3>
                            <div role="form">
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input id="name" class="form-control" type="text" placeholder="Antique name.." />
                                </div>
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <textarea id="description" class="form-control" placeholder="Description.."></textarea>
                                </div>

                                <div class="form-group">
                                    <label for="basePrice">Base price</label>
                                    <input id="basePrice" class="form-control" type="text" placeholder="Base price.." />
                                </div>

                                <div class="form-group datetimepickerStart">
                                    <label for="bidStart">Bid start</label>
                                    <input id="bidStart" class="form-control" type="text" placeholder="Pick start date and time" disabled />
                                    <input type="button" class="btn btn-sm btn-primary float-right m-t-n-xs" id="BidStartBtn" value="Pick start date and time" />
                                </div>

                                <div class="form-group datetimepickerEnd">
                                    <label for="bidEnd">Bid end</label>
                                    <input id="bidEnd" class="form-control" type="text" placeholder="Pick end date and time" disabled />
                                    <input type="button" class="btn btn-sm btn-primary float-right m-t-n-xs" id="BidEndBtn" value="Pick end date and time" />
                                </div>
                                <div class="form-group newAntiquePhotos">
                                    <h3 class="m-t-none m-b">Upload your photos.</h3>

                                    <p>You can select multiple photos.</p>
                                    <div class="fallback">
                                        <input name="files" type="file" id="newAntiqueFile" multiple />
                                    </div>
                                </div>
                                <div>
                                    <br>
                                    <button class="btn btn-sm btn-primary float-left m-t-n-xs" id="newAntiqueSubmit"><strong>Submit</strong></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--New Antique Form end-->
    <!--Update Antique Form-->

    <div id="updateAntique-form" class="modal fade" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <h3 class="m-t-none m-b">Update Antique</h3>
                            <div role="form">
                                <div class="form-group">
                                    <label for="updateName">Name</label>
                                    <input id="updateName" class="form-control" type="text" />
                                </div>
                                <div class="form-group">
                                    <label for="updateDescription">Description</label>
                                    <textarea id="updateDescription" class="form-control"></textarea>
                                </div>

                                <div class="form-group">
                                    <label for="updateBasePrice">Base price</label>
                                    <input id="updateBasePrice" class="form-control" type="text" />
                                </div>

                                <div class="form-group datetimepickerStartForUpdate">
                                    <label for="updateBidStart">Bid start</label>
                                    <input id="updateBidStart" class="form-control" type="text" disabled />
                                    <br>
                                    <input type="button" class="btn btn-sm btn-primary float-right m-t-n-xs" id="BidStartBtnForUpdate" value="Pick start date and time" />
                                </div>
                                <input type="hidden" id="hdnAntiqueId" />
                                <div class="form-group datetimepickerEndForUpdate">
                                    <label for="updateBidEnd">Bid end</label>
                                    <input id="updateBidEnd" class="form-control" type="text" disabled />
                                    <br>
                                    <input type="button" class="btn btn-sm btn-primary float-right m-t-n-xs" id="BidEndBtnForUpdate" value="Pick end date and time" />
                                </div>
                                <div>
                                    <br>
                                    <button class="btn btn-sm btn-primary float-left m-t-n-xs" id="updateAntiqueSubmit"><strong>Update</strong></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Update Antique Form End-->
    <!-- Update Photos -->
    <div class="modal fade" id="photo-form">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4><b>Item Photos</b></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <div class="modal-body" id="imageModal">

                    <!--Add Photos Form-->
                    <div aria-hidden="true" class="form-horizontal">
                        <div class="modal-body photoUpload">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h3 class="m-t-none m-b">Upload your photos.</h3>

                                    <p>You can select multiple photos.</p>
                                    <div class="fallback">
                                        <input name="files" type="file" id="file" multiple />
                                    </div>
                                    <div>
                                        <br>
                                        <button class="btn btn-sm btn-primary float-left m-t-n-xs imageUploadBtn" id="imageUploadBtn" data-antiqueid="-1"><strong>Upload</strong></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Add Photos Form End-->
            </div>
        </div>
    </div>
</div>
<!-- Update Photos End -->
<!--Show Bid History Form-->

<div id="bidHistory-form" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <h4 class="m-t-none m-b">Previous Bids</h4><br>
                        <table class="table table-striped  table-bordered table-hover" style="width:100%" id="bidHistoryTable">
                            <thead>
                                <tr>
                                    <th>User</th>
                                    <th>Bid Date And Time</th>
                                    <th>Bid Amount &#36;</th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Show Bid History Form End-->


@section Styles {
    <link rel="stylesheet" href="~/lib/dataTables/datatables.min.css" />
}

@section Scripts {


    <script src="~/lib/dataTables/datatables.min.js"></script>
    <script src="~/lib/dataTables/dataTables.bootstrap4.min.js"></script>

    <script type="text/javascript">


        $(document).ready(function () {




            function initialiseBidHistoryTable(antiqueId) {
                var table = $("#bidHistoryTable").DataTable({
                    destroy: true,
                    pageLength: 10,
                    "order": [[2, "asc"]],
                    ajax: {
                        url: "/api/BidHistory/" + antiqueId,
                        dataSrc: ""
                    },
                    columns: [
                        {
                            data:"User"
                        },
                        {
                            data: "BidTime",
                            render: function (data) {

                                var date = new Date(data);
                                var year = date.getFullYear();
                                var month = date.getMonth() + 1;
                                var day = date.getDate();
                                var hour = date.getHours();
                                var minute = (date.getMinutes() < 10 ? '0' : '') + date.getMinutes();
                                return year + "/" + month + "/" + day + " " + hour + ":" + minute;
                            }
                        },
                        {
                            data: "BidAmount"
                        }
                    ]
                });

            }

            function uploadPhotos(input, AntiqueId, getPhotosCheck) {
                var files = input.files;
                var formData = new FormData();
                for (var i = 0; i != files.length; i++) {
                    formData.append("photos", files[i]);
                }
                formData.append("AntiqueId", AntiqueId);
                $.ajax({
                    url: '/api/Photo/',
                    type: 'POST',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (data) {

                        $(".gallery").remove();
                        if (getPhotosCheck != null) {
                            $("#file").val("");
                            toastr.success(data)
                            getPhotos(AntiqueId);
                            table.ajax.reload();
                        }
                    }
                });
            }

            //upload photos
            $(".imageUploadBtn").click(function () {
                var input = $("#file")[0];
                var antiqueId = $(this).data('antiqueid');
                uploadPhotos(input, antiqueId, true);

            });

            //my function for photos
            $(document).on('click', '#photoBtn', function (e) {
                e.preventDefault();
                var antiqueid = $(this).data('antiqueid');
                //adding antique id to the upload button
                $("#imageUploadBtn").data("antiqueid", antiqueid);
                $(".gallery").remove();
                getPhotos(antiqueid);
            });

            $(document).on('click', '.deleteImage', function (e) {
                e.preventDefault();
                var photoId = $(this).data('id');
                var antiqueId = $(this).data('antiqueid');
                $.ajax({
                    type: 'DELETE',
                    url: '/api/Photo/' + photoId,
                    contentType: "application/json;charset=utf-8",
                    success: function (response) {
                        toastr.success(response)
                        $(".gallery").remove();
                        getPhotos(antiqueId);
                        table.ajax.reload();
                    }
                });
            });

            function getPhotos(antiqueId) {
                $.ajax({
                    type: "GET",
                    url: '/api/Photo/' + antiqueId,
                    contentType: "application/json;charset=utf-8",
                    success: function (photos) {
                        if (photos.length > 0) {
                            $('#imageModal').prepend('<table>');
                            $('#imageModal').prepend('<tr>');
                            for (let i = 0; i < photos.length; i++) {

                                $('#imageModal').prepend('<td>');
                                $('#imageModal').prepend('<div class="gallery">\n' +
                                    '                    <i class="fa fa-minus-circle minus deleteImage" style="cursor: pointer;" aria-hidden="true" data-id="' + photos[i].Id + '" data-antiqueid="' + photos[i].AntiqueId + '"></i>\n' +
                                    '                   \n' +
                                    '                        <img src="' + photos[i].Path + '" style="width:180px;height:110px;">\n' +
                                    '                   \n' +
                                    '                </div>\n');
                                $('#imageModal').prepend('<td>');
                                if (i == photos.length) {
                                    $('#imageModal').prepend('</tr>');
                                    break;
                                }
                                if (i != 0 && i % 3 == 0) {
                                    $('#imageModal').prepend('</tr>');
                                    if (i != photos.length)
                                        $('#imageModal').prepend('<tr>');
                                }

                            }
                            $('#imageModal').prepend('</table><br>');
                        }
                    }
                });
            }

            //my function for photos End

            //initialise main table
            var table = $("#antiqueTable").DataTable({
                pageLength: 25,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'Antique list' },
                    { extend: 'pdf', title: 'Antique list' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ],
                ajax: {
                    url: "/api/Antique/GetAllAntiques",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "Id",
                        render: function (data, type, antique) {
                            var imgSrc = antique.PhotoPath != null ? antique.PhotoPath : "/images/antiqueDefaultImage.jpg";
                            return "<img src='" + imgSrc + "' height='40px' width='40px' th:id=antiqueTableImg/><span class='pull-right'><a data-toggle='modal' data-antiqueid='" + data + "' href='#photo-form' id='photoBtn'><i class='fa fa-edit'></i></a></span>"
                        }
                    },
                    {
                        data: "Name"
                    },
                    {
                        data: "Description"
                    },
                    {
                        data: "BasePrice"
                    },
                    {
                        data: "CurrentBid"
                    },
                    {
                        data: "BidStartTime",
                        render: function (data) {

                            var date = new Date(data);
                            var year = date.getFullYear();
                            var month = date.getMonth() + 1;
                            var day = date.getDate();
                            var hour = date.getHours();
                            var minute = (date.getMinutes() < 10 ? '0' : '') + date.getMinutes();
                            return year + "/" + month + "/" + day + " " + hour + ":" + minute;
                        }
                    },
                    {
                        data: "BidEndTime",
                        render: function (data) {
                            var date = new Date(data);
                            var year = date.getFullYear();
                            var month = date.getMonth() + 1;
                            var day = date.getDate();
                            var hour = date.getHours();
                            var minute = (date.getMinutes() < 10 ? '0' : '') + date.getMinutes();
                            return year + "/" + month + "/" + day + " " + hour + ":" + minute;
                        }
                    },
                    {

                        data: "defaultContent",
                        render: function (data, type, antique) {
                            return "<button data-update_antique_id='" + antique.Id + "' class='btn btn-info btn-sm btn-flat updateBtn' data-toggle='modal' href='#updateAntique-form'><i class='fa fa-pencil' aria-hidden='true'></i>Update</button>"
                                + "&nbsp;<button data-delete_antique_id='" + antique.Id + "' class='btn btn-danger btn-sm btn-flat deleteBtn'><i class='fa fa-trash'></i>Delete</button>"
                                + "&nbsp;<button class='btn btn-primary btn-sm btn-flat historyBtn' data-antiqueid='" + antique.Id + "'><i class='fa fa-search' aria-hidden='true'></i>Bid History</button>";
                        }
                    }
                ]
            });

            //Initialise Main Table End


            //Show Bid History Modal
            $('#antiqueTable').on('click', '.historyBtn', function () {
                var antiqueId = $(this).data('antiqueid');
                $('#bidHistory-form').modal('toggle');
                initialiseBidHistoryTable(antiqueId);
            });
            //Show Bid History Modal End

            //Update Antique
            $("#updateAntiqueSubmit").click(function () {
                $('#updateAntique-form').modal('toggle');
                var antiqueId = $("#hdnAntiqueId").val();
                var date = new Date($("#updateBidStart").val());
                var BidStartTime = date.getFullYear() + "/" + (date.getMonth() + 1) + "/" + date.getDate() + " " + date.getHours() + ":" + ((date.getMinutes() < 10 ? '0' : '') + date.getMinutes());
                date = new Date($("#updateBidEnd").val());
                var BidEndTime = date.getFullYear() + "/" + (date.getMonth() + 1) + "/" + date.getDate() + " " + date.getHours() + ":" + ((date.getMinutes() < 10 ? '0' : '') + date.getMinutes());


                var updatedAntique = {
                    Name: $("#updateName").val(),
                    Description: $("#updateDescription").val(),
                    BasePrice: $("#updateBasePrice").val(),
                    BidStartTime: BidStartTime,
                    BidEndTime: BidEndTime
                };

                $.ajax({
                    type: "PUT",
                    url: '/api/Antique/' + antiqueId,
                    contentType: "application/json;charset=utf-8",
                    data: JSON.stringify(updatedAntique),
                    success: function (response) {
                        toastr.success(response)
                        table.ajax.reload();
                    }
                });
            });


            $('#antiqueTable').on('click', '.updateBtn', function () {
                var antiqueId = $(this).data("update_antique_id");
                $.ajax({
                    type: "GET",
                    url: '/api/Antique/' + antiqueId,
                    contentType: "application/json;charset=utf-8",
                    success: function (data) {
                        $("#updateName").val(data.Name);
                        $("#hdnAntiqueId").val(data.Id);
                        $("#updateDescription").val(data.Description);
                        $("#updateBasePrice").val(data.BasePrice);
                        var date = new Date(data.BidStartTime);
                        $("#updateBidStart").val(date.getFullYear() + "/" + (date.getMonth() + 1) + "/" + date.getDate() + " " + date.getHours() + ":" + ((date.getMinutes() < 10 ? '0' : '') + date.getMinutes()));
                        date = new Date(data.BidEndTime);
                        $("#updateBidEnd").val(date.getFullYear() + "/" + (date.getMonth() + 1) + "/" + date.getDate() + " " + date.getHours() + ":" + ((date.getMinutes() < 10 ? '0' : '') + date.getMinutes()));
                    }
                });
            });

            //Update Antique End

            //Delete Antique

            $('#antiqueTable').on('click', '.deleteBtn', function () {

                var antiqueId = $(this).data("delete_antique_id");

                swal({
                    title: "Are you sure that you want to delete this item?",
                    text: "Once deleted, you will not be able to recover data associated with this item!",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                    .then((createNew) => {
                        if (createNew) {
                            $.ajax({
                                type: "DELETE",
                                url: '/api/Antique/' + antiqueId,
                                contentType: "application/json;charset=utf-8",
                                success: function (data) {
                                    swal("Item successfully deleted ", {
                                        icon: "success",
                                    });
                                    table.ajax.reload();
                                }
                            });
                        }
                    });
            });
            //Delete Antique End




            //Initialise Date Pickers
            var BidStart = '';
            var BidEnd = '';
            let myPickerStart = new SimplePicker(".datetimepickerStart", {
                zIndex: 10
            });
            let myPickerEnd = new SimplePicker(".datetimepickerEnd", {
                zIndex: 10
            });

            let UpdatePickerStart = new SimplePicker(".datetimepickerStartForUpdate", {
                zIndex: 10
            });
            let UpdatePickerEnd = new SimplePicker(".datetimepickerEndForUpdate", {
                zIndex: 10
            });

            $("#BidStartBtnForUpdate").click(function () {
                UpdatePickerStart.open()
                UpdatePickerStart.on('submit', function (date, readableDate) {
                    BidStart = readableDate;
                    $("#updateBidStart").val(readableDate);
                })
            });

            $("#BidEndBtnForUpdate").click(function () {
                UpdatePickerEnd.open()
                UpdatePickerEnd.on('submit', function (date, readableDate) {
                    $("#updateBidEnd").val(readableDate);
                })
            });

            $("#BidStartBtn").click(function () {
                myPickerStart.open()
                myPickerStart.on('submit', function (date, readableDate) {
                    BidStart = readableDate;
                    $("#bidStart").val(readableDate);
                })
            });

            $("#BidEndBtn").click(function () {
                myPickerEnd.open()
                myPickerEnd.on('submit', function (date, readableDate) {
                    BidEnd = readableDate;
                    $("#bidEnd").val(readableDate);
                })
            });
            //Initialise Date Pickers End


            function resetFormFields() {
                $("#name").val("");
                $("#description").val("");
                $("#basePrice").val("");
                $("#bidStart").val("");
                $("#bidEnd").val("");
                $("#newAntiqueFile").val("");

            }


            //New Antique
            $("#newAntiqueSubmit").click(function () {
                $('#newAntique-form').modal('toggle');

                //preparing data for photos
                var input = $("#newAntiqueFile")[0];
                //preparing data for photos-end

                var formData = {
                    Name: $("#name").val(),
                    Description: $("#description").val(),
                    BasePrice: $("#basePrice").val(),
                    BidStartTime: BidStart,
                    BidEndTime: BidEnd
                };
                $.ajax({
                    type: "POST",
                    url: '/api/Antique/AddAntique',
                    contentType: "application/json;charset=utf-8",
                    data: JSON.stringify(formData),
                    success: function (result) {
                        uploadPhotos(input, result, null);
                        toastr.success("Antique successfully added")
                        table.ajax.reload();
                        resetFormFields();
                    }
                });

            });
            //New Antique End

        });

    </script>
}
